<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
	<classPathEntry location="E:\mavenR\repository\mysql\mysql-connector-java\8.0.15\mysql-connector-java-8.0.15.jar" />
	<context id="context1">
		 <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/livinglibrary?allowPublicKeyRetrieval=true&amp;useSSL=false&amp;serverTimezone=UTC" userId="root" password="123456">
        </jdbcConnection>
		<javaModelGenerator targetPackage="com.livinglibrary.po" targetProject="src/main/java" />
		<sqlMapGenerator targetPackage="com.livinglibrary.mapper" targetProject="src/main/java" />
		<javaClientGenerator targetPackage="com.livinglibrary.mapper" targetProject="src/main/java" type="XMLMAPPER" />
        <table schema="dbo"  tableName="resume_list">
            <!-- <columnOverride column="" property="???" /> -->
        </table>
	</context>
</generatorConfiguration>